
<div style="position:absolute;top:-200px;left:0px;right:0px;bottom:0px;background-image:url('./market.jpg');background-repeat:no-repeat;z-index:-1;">
</div>
<div class="jumbotron" style="background-color:white">
  <h1 style="display:inline-block">Welcome to Mimir's Market!</h1>
  <p>Mimir's Market is an e-commerce app for all of your nonsensical product needs. You can add products to your cart, checkout, and make purchases using <a href="https://stripe.com/docs/api" target="_blank">Stripe's API</a>. You can also view past orders and analytics. Happy shopping!</p>
</div>